@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #15191f;
  font-family: 'Geist', sans-serif;
  padding: 10px;
}
